@page "/solicitar-acceso"

@layout LoginLayout

<PageTitle>Crear cuenta</PageTitle>

<div class="request-access-card">
    <span class="title">AdoptaYA</span>
    <br />
    <span class="title-2">Solicitar acceso</span>
    <div class="accent-bar"></div>
    <p class="subtitle">@subtitle</p>

    <AdoptaYA.Functionalities.AccessRequest.Components.WBAccessRequestNewUser />

    <p class="login-link">¿Ya cuentas con acceso?<br /><RadzenLink Text="Ingresa Aqui" Path="/" class="login" /></p>

</div>

