@page "/adopciones"

<SessionValidator title="Gestión de adopciones" path="/adopciones">
    <Loader Loading="loading" />

    <div class="mb-3 d-flex justify-content-end">
        <RadzenButton Icon="download" Text="Exportar CSV" ButtonStyle="ButtonStyle.Primary" Size="ButtonSize.Small" Click="@ExportToCsv" />
    </div>

    <RadzenDataGrid Data="@data" AllowPaging="true" PageSize="10" ColumnWidth="200px"
                    AllowRowSelectOnRowClick="true" SelectionMode="DataGridSelectionMode.Single"
                    FilterMode="FilterMode.CheckBoxList" AllowSorting="true" AllowFiltering="true"
                    ApplyFilterText="Aplicar" ClearFilterText="Limpiar" EmptyText="No hay registros para mostrar">
        <Columns>
            <RadzenDataGridColumn Property="AdoptionId" Title="Id" Width="100px" />
            <RadzenDataGridColumn Property="Name" Title="Nombre" />
            <RadzenDataGridColumn Property="Species" Title="Especie" />
            <RadzenDataGridColumn Property="Breed" Title="Raza" />
            <RadzenDataGridColumn Property="Status" Title="Estado" />
            <RadzenDataGridColumn Property="Date" Title="Fecha solicitud" />
            <RadzenDataGridColumn Width="60px" Filterable="false" Sortable="false">
                <Template Context="data">
                    <RadzenButton Icon="expand_content" Click="@(() => OpenViewRequest(data.AdoptionId))"
                                  ButtonStyle="ButtonStyle.Primary" ButtonType="ButtonType.Button" />
                </Template>
            </RadzenDataGridColumn>
        </Columns>
    </RadzenDataGrid>

</SessionValidator>